server {
    listen 80;
    server_name quorumapp.co www.quorumapp.co quorum-impact.com www.quorum-impact.com;

    root /srv/http;

    location / {
      	root /srv/http/corporate/public;
	try_files $uri $uri/index.html $uri.html =404;
    }
}
