[Unit]
Description=Local registry for docker images

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=redis.service

# Dependency ordering
After=etcd.service
After=docker.service
After=redis.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

Environment=IMAGE=silverwyrda/registry CONTAINER=registry

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStart=/usr/bin/docker run --name ${CONTAINER} \
	-p ${COREOS_PUBLIC_IPV4}:5000:5000 \
	--link redis:redis \
	-v ${DEPLOY_SRC}/data/${CONTAINER}:/data ${IMAGE}

# Stop
ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Conflicts=${CONTAINER}.service
