[Unit]
Description=Contacts managing backend

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=postgres.service

# Dependency ordering
After=etcd.service
After=docker.service
After=postgres.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

Environment=IMAGE=quorum/contacts CONTAINER=contacts

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStart=/usr/bin/docker run --name ${CONTAINER} \
	-e CONFIG=config.json \
	-p 8081:8080 \
	--link postgres:postgres \
	-v ${DEPLOY_SRC}/configs/${CONTAINER}/production.json:/go/src/github.com/quorumsco/${CONTAINER}/config.json:ro ${IMAGE}

# Stop
ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Conflicts=${CONTAINER}.service
